.main-wrapper {
  max-width: 800px;
  margin: auto;
}

.page-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2em;
}

.main-container {
  border: 2px solid blue;
  padding: 5px;
}

.recipe-link {
  display: block;
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.back-to-root-button {
  border: 2px solid purple;
  display: inline-block;
  margin-top: 20px;
  padding: 5px;
}

.recipe-container {
  border: 2px solid blue;
  padding: 5px;
  display: flex;
  flex-direction: column;

  @media (min-width: 750px) {
    flex-direction: row;
  }
}

.infos-container {
  border: 2px solid orange;
  margin-bottom: 10px;
  margin-right: 20px;
}

.ingredients-container {
  border: 2px solid green;
}

.ingredients-title {
  font-size: 1.5em;
  margin-bottom: 5px;
}
