:root {
  --app-background: #d5ffa3;
  --page-background: #f8fff0;
  --blue-background: #e0f0ff;
  --light-background: white;

  --default-button-background: #e4e4e4;
  --border: #d3d3d3;

  --recipe-link-background: #fed8b1;
  --recipe-link-border: #fc9831;
}

.app-container {
  font-family: "Roboto", sans-serif;
  background-color: var(--app-background);
  min-height: 100vh;
  display: flex;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  background-color: var(--light-background);

  @media (min-width: 750px) {
    margin: auto;
  }
}

.page-title {
  font-family: "Dela Gothic One", sans-serif;
  background-color: var(--app-background);
  text-align: center;
  padding: 30px 0;
  font-size: 2em;

  @media (min-width: 750px) {
    background-color: var(--light-background);
  }
}

.ingredients-filter-container {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 750px) {
    flex-direction: column;
    height: 150px;
  }
}

.ingredients-filter-form {
  background-color: var(--blue-background);
  padding: 5px;
  padding-bottom: 15px;
}

.ingredients-filter-reset {
  width: 150px;
  margin-right: 10px;
  display: flex;
  align-self: flex-end;
}

.ingredients-filter-submit {
  margin-right: 5px;
}

.ingredient-filter-controls {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

  @media (min-width: 750px) {
    justify-content: right;
  }
}

.ingredient-select {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 33%;

  @media (min-width: 750px) {
    width: initial;
  }
}

.recipes-container {
  padding: 10px;
  background-color: var(--light-background);
}

.recipes-links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe-link {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: var(--recipe-link-background);
  border: 2px solid var(--recipe-link-border);
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: 750px) {
    width: 49%;
  }
}

.no-recipe-found {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
}

.back-to-root-button {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;

  @media (min-width: 750px) {
    margin-bottom: 0;
  }
}

.recipe-container {
  display: flex;
  flex-direction: column;

  @media (min-width: 750px) {
    flex-direction: row;
  }
}

.infos-container {
  background-color: var(--blue-background);
  padding: 10px;
}

.ingredients-container {
  background-color: var(--light-background);
  padding: 10px;
}

.ingredients-title {
  font-size: 1.5em;
  margin-bottom: 5px;
}

/* utility classes */

.button {
  cursor: pointer;
  border: 2px solid var(--border);
  border-radius: 2px;
  background-color: var(--default-button-background);
  display: inline-block;
  height: 35px;
  width: 150px;
  font-size: 1em;
  text-align: center;
  padding: 6px;
}

input[type="checkbox"] {
  border: 2px solid var(--border);
  border-radius: 2px;
  margin-right: 5px;
  width: 2em;
  height: 2rem;
  accent-color: var(--app-background);
}